@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;700;800&display=swap');


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --celeste-ucr: #4AACE1;
  --gris-claro-ucr: #EAEAEA;
  --gris-oscuro-urc: #323232;
  --rojo-ucr: #670000;
}


body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  background-color: #bd3737;
}

.background-color-celeste-ucr{
  background-color: var(--celeste-ucr);
}
.background-color-gris-c-ucr{
  background-color: var(--gris-claro-ucr);
}
.background-color-rojo-ucr{
  background-color: var(--rojo-ucr);
}
input,button{
  background-color: var(--gris-claro-ucr);
  border: transparent;
  outline: none;
}
select{
  outline: none;
}

input[type="submit"]{
  background-color: var(--celeste-ucr);
}

nav{
  height: calc(100vh - 108px);
  margin-top: 108px;
  padding-left: 10px;
  background-color: white;
}
main{
  margin-top: 108px;
  background-color: var(--gris-claro-ucr);
}
.side-bar-nav{
  background-color: white;
}
.side-bar{
  padding-right: 20px;
  background-color: white;
}
.side-bar hr{
  margin: 0;
  margin-left: 20px;
  z-index: 1;
}
.side-bar a.active{
  font-weight: 500;
}
.side-bar li{
  margin-left: 20px;
}
.side-bar li:has( > a.active){
  margin-left: 0px;
}
.side-bar li:has( > a.active)::before{
  content: '';
  display: block;
  width: 7px;
  height: 100%;
  margin-right: 10px;
  background-color: var(--celeste-ucr);
}

.table-button{
  background-color: var(--celeste-ucr);
}
.delete-button{
  background-color: var(--rojo-ucr);
}
.cancel-button{
  background-color: var(--gris-oscuro-urc);
}

.table{
  width: 83vw!important;
}

thead{
  border-radius: 100px 100px 0 0;
  --bs-table-bg: var(--celeste-ucr);
  --bs-table-color: 
}
table thead tr{
  background-color: var(--celeste-ucr);
  color: white;
  font-weight: lighter;
  padding: 1rem;
}
table thead tr:last-child(){
  border-radius: 0 5px 0 0;
}
table thead tr:first-child(){
  border-radius: 5px 0 0 0;
}
table tbody td{
  cursor: pointer;
}
table tbody tr:nth-child(odd){
  background-color: #E4E4E4;
}
table tbody tr:nth-child(even){
  background-color: #e1dbdb;
}

.page-number{
  width: 30px;
  background-color: white;
}
.page-number.active{
  background-color: var(--celeste-ucr);
  color: white;
}

.modal {
  backdrop-filter: blur(3px);
  background-color: rgba(18, 18, 18, 0.355);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.buscar-input{
  background-color: white;
}

#selectCol{
  width: 22vh;
  display: inherit;
  background-color: white;
  color: black;
  border-top-left-radius: 1;
  border-bottom-left-radius: 1;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

option{
  background-color: white;
  color: black
}

#content-box{
  background-color: var(--gris-claro-ucr);
}

.icono{
  margin-right: 10px;
  position: relative;
  bottom: 2px;
}

        .rounded-table {
            border-radius: 10px; /* Ajusta este valor al nivel de redondeo que desees */
            overflow: hidden;
        }
